<footer class="footer">
  <div class="contact-info">
    <div class="social-icon">
      <img src="../assets/img/nav.png" alt="">
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="contacto">
      <p>San Salvador de Jujuy <br> Jujuy,Argentina</p>
      <p>+543884144013</p>
      <p>Boca-Ecommerce&#64;gmail.com</p>
    </div>

    <div class="segunda-info">
      <h4>Shop</h4>
      <p>Camisetas</p>
      <p>Gorras</p>
      <p>Pelotas</p>
    </div>
  </div>
</footer>
<div class="end-text">
  <p>Copyright © 2025. All rights reserved</p>
</div>